In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
building_meta = pd.read_csv("building_metadata.csv")

In [5]:
building_meta.shape

(1449, 6)

In [11]:
building_meta[building_meta["square_feet"]==building_meta["square_feet"].max()]

,site_id,building_id,primary_use,square_feet,year_built,floor_count
869,8,869,Entertainment/public assembly,875000,NaN,1.0

In [14]:
train = pd.read_csv("train.csv")

In [15]:
building_meta

,site_id,building_id,primary_use,square_feet,year_built,floor_count
0,0,0,Education,7432,2008.0,NaN
1,0,1,Education,2720,2004.0,NaN
2,0,2,Education,5376,1991.0,NaN
3,0,3,Education,23685,2002.0,NaN
4,0,4,Education,116607,1975.0,NaN
5,0,5,Education,8000,2000.0,NaN
6,0,6,Lodging/residential,27926,1981.0,NaN
7,0,7,Education,121074,1989.0,NaN
8,0,8,Education,60809,2003.0,NaN
9,0,9,Office,27000,2010.0,NaN
10,0,10,Entertainment/public assembly,370773,1991.0,NaN
11,0,11,Education,49073,1968.0,NaN
12,0,12,Lodging/residential,37100,1999.0,NaN
13,0,13,Education,99380,2000.0,NaN
14,0,14,Education,86250,2013.0,NaN
15,0,15,Office,83957,1974.0,NaN
16,0,16,Education,54644,1996.0,NaN
17,0,17,Office,15250,1980.0,NaN
18,0,18,Education,111891,1996.0,NaN
19,0,19,Office,18717,2004.0,NaN
20,0,20,Education,110272,1977.0,NaN
21,0,21,Office,7043,1990.0,NaN
22,0,22,Education,3569,1996.0,NaN
23,0,23,Education,130885,1985.0,NaN
24,0,24,Education,105545,2001.0,NaN
25,0,25,Office,103286,1969.0,NaN
26,0,26,Office,26953,2005.0,NaN
27,0,27,Lodging/residential,59200,1999.0,NaN
28,0,28,Office,52957,2016.0,NaN
29,0,29,Education,113866,2006.0,NaN
...,...,...,...,...,...,...
1419,15,1419,Lodging/residential,40629,1975.0,NaN
1420,15,1420,Entertainment/public assembly,95079,1975.0,NaN
1421,15,1421,Education,47934,NaN,NaN
1422,15,1422,Lodging/residential,19876,1932.0,NaN
1423,15,1423,Lodging/residential,18277,1965.0,NaN
1424,15,1424,Lodging/residential,24103,1964.0,NaN
1425,15,1425,Utility,4071,1990.0,NaN
1426,15,1426,Entertainment/public assembly,15450,1948.0,NaN
1427,15,1427,Education,180625,1933.0,NaN
1428,15,1428,Education,28432,1933.0,NaN
1429,15,1429,Education,40461,2002.0,NaN
1430,15,1430,Office,53303,1981.0,NaN
1431,15,1431,Public services,111360,2000.0,NaN
1432,15,1432,Education,160673,1968.0,NaN
1433,15,1433,Education,28084,1913.0,NaN
1434,15,1434,Education,33148,1967.0,NaN
1435,15,1435,Education,9552,1961.0,NaN
1436,15,1436,Manufacturing/industrial,11302,1937.0,NaN
1437,15,1437,Education,111518,1968.0,NaN
1438,15,1438,Education,108971,1990.0,NaN
1439,15,1439,Education,56497,1957.0,NaN
1440,15,1440,Lodging/residential,150294,1987.0,NaN
1441,15,1441,Education,30143,1951.0,NaN
1442,15,1442,Public services,99541,1993.0,NaN
1443,15,1443,Education,40311,1913.0,NaN
1444,15,1444,Entertainment/public assembly,19619,1914.0,NaN
1445,15,1445,Education,4298,NaN,NaN
1446,15,1446,Entertainment/public assembly,11265,1997.0,NaN
1447,15,1447,Lodging/residential,29775,2001.0,NaN
1448,15,1448,Office,92271,2001.0,NaN